
form{
  margin: 0% 10% 0% ;
  background-color:rgb(252, 248, 248) ;
}

/* date section */


.date{
  font-size: 20px;
  text-transform: uppercase ;
  width: 20%;
  background-color: #e6e2e2e7;
  padding: 10px 40px 10px;
  text-align: center;
  border-radius: 3px;
  background-color: #f3ececfe;
}

.date input{
  width: 100%;
  height: 20px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.date-group{
  display: flex;
  justify-content: space-around;


}

/* number section */

.numberFields{
  margin:  40px 0px;
  font-size: 20px;
  text-transform: uppercase ;
  width: 70%;
  background-color: #e6e2e2e7;
  padding: 10px 40px 10px;
  border-radius: 3px;
}

.numberFields input{
  width: 100%;
  height: 20px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #f8f9fc;
}



  /* Section title */
  h3 {
    /* text-align: center; */
    color: #333;
    margin-bottom: 20px;
  }

   
   div > div {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: #fff;
  }


/* Fabric section */



label{
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
  font-size: 18px;
  text-transform: uppercase ;
 
}

/* Buttons */
button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

button:hover {
  background-color: #2edf37;
}

/* Croxx botton  */

.x-button{
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
   font-weight:bold;
  margin-bottom:10px
}


/* Group container for radio buttons */
.radio-group {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

/* Label for radio buttons */
.radio-group label {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  gap:10px
}

/* Input (radio button) styling */
.radio-group input[type="radio"] {
  margin-right: 5px;
  accent-color: #000; /* Changes the color of the selected radio button */
}


/* China Fabric section */

.Radio-label{
  display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    gap: 10px;
}

/* From submit button */
.submit-btn{
  /* margin: 40px 0px; */
   width: 60vw;
}

/* Responsive design */

/* Laptop/Desktop (Large Screens): Devices like laptops and desktops with larger screens. */


@media (max-width: 1280px) {
  /* Styles for laptops and desktops */
  .submit-btn{
    margin: 40px 20px;
     width: 60vw;
  }

}

 


/* Tablet (Medium Screens):Devices like tablets in portrait mode. */

@media (max-width: 768px) {
  /* Styles for tablets */
  .submit-btn{
    margin: 25px 15px;
     width: 50vw;
  }
  div {
    padding: 10px;
  }

  .date{
  
    width: 30%;
    background-color: #e6e2e2e7;
    padding: 10px 20px 10px;
   
  }

  input
  {
    font-size: 13px;
    font-weight: bold;
    width: 40vw;
    height: 20px;

    
   
  }
  .date-group{
    display: flex;
    justify-content:first baseline;
    align-items:safe;
  
  
  }

  .date input{
    width: 15vw;
    height:15px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    flex-direction: column;
  }

  button {
    font-size: 12px;
    padding: 8px 12px;
  }

  div > div > div  {
    flex-direction: column;
  
  }
}


/* Mobile (Small Screens) Devices like smartphones in portrait mode.: */

  @media (max-width: 600px) {
    input
  {
    font-size: 13px;
    font-weight: bold;
    width: 20vw;
    height: 20px;
    padding:  10px; 
    
  }

  .date{
  
    width: 40%;
    background-color: #e6e2e2e7;
    padding: 10px 15px 10px;
   
  }

  .date input{
    width: 18vw;
    height:15px;
    padding: 10px;
   
    flex-direction: column;
  }


  .submit-btn{
    margin: 25px 15px;
     width: 50vw;
  }
}